<button type="submit" class="btn btn-default" (click)="refreshStatus()">Refresh</button>
<ul class="list-group" *ngIf="state.questionGroups.length > 0">
  <li class="list-group-item" *ngFor="let grp of state.questionGroups">
    {{grp.name}} <span class="badge">{{grp.questions.length}}</span>

    <div>
      <a href="#" (click)="selectQuestion(q)" class="btn btn-small btn-default" *ngFor="let q of grp.questions; let i = index">
        {{i}}
      </a>
    </div>

  </li>
</ul>
<ul class="list-group" *ngIf="state.questionGroups.length == 0">
  <li class="list-group-item disabled">
    No questions
  </li>
</ul>
<hr />
<div *ngIf="Question != null">
  <h1>Question</h1>
  <markdown [data]="Question.content"></markdown>
  <hr />
  <h1>Answers</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let opt of Question.options">
      <markdown [data]="opt.content"></markdown>
    </li>
  </ul>
</div>
