<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-default" (click)="refreshStatus()">Refresh</button>
  <div class="btn btn-disabled" *ngIf="state.questionGroups.length == 0">No questions</div>
  <ng-container *ngFor="let grp of state.questionGroups">
    <ng-container *ngFor="let q of grp.questions; let i = index">
      <button type="button" class="btn btn-primary" (click)="selectQuestion(q, i + 1)">{{i + 1}}</button>
    </ng-container>
  </ng-container>
</div>



<div *ngIf="Question != null">
  <h1>Question {{QuestionIndex}}</h1>
  <markdown [data]="Question.content"></markdown>
  <hr />
  <button class="btn btn-primary">Answer</button>
  <h1>Answers</h1>
  <ul class="list-group">
    <li class="list-group-item" [ngClass]="{'list-group-item-warning': opt.isSelected}" *ngFor="let opt of Question.options">
      <button class="btn btn-large pull-right" [ngClass]="{'disabled':!Question.canAnswer}" (click)="toggleAnswer(opt)">
        <span class="glyphicon" [ngClass]="{'glyphicon-ok':opt.isSelected, 'glyphicon-unchecked':!opt.isSelected}"></span>
      </button>
      <markdown [data]="opt.content"></markdown>
    </li>
  </ul>
</div>
